<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.converage.mapper.shop.GoodsSpuMapper">
    <resultMap id="goodsSpuSimpleMap" type="GoodsSpu">
        <id property="id" column="id"></id>
        <result property="spuId" column="id"></result>
        <result property="spuNo" column="spu_no"></result>
        <result property="goodsName" column="goods_name"></result>
        <result property="currencyPrice" column="currency_price"></result>
        <result property="integralPrice" column="integral_price"></result>
        <result property="usdtPrice" column="usdt_price"></result>
        <result property="cnyPrice" column="cny_price"></result>
        <result property="currencyReward" column="currency_reward"></result>
        <result property="ifSku" column="if_sku"></result>
        <result property="stock" column="stock"></result>
        <result property="settlementId" column="settlement_id"></result>
        <result property="categoryId" column="category_id"></result>
        <result property="categoryName" column="category_name"></result>
        <result property="brandName" column="brand_name"></result>
        <result property="brandId" column="brand_id"></result>
        <result property="shopId" column="shop_id"></result>
        <result property="defaultImgUrl" column="default_img_url"></result>
        <result property="specImgUrl" column="spec_img_url"></result>
        <result property="createTime" column="create_time"></result>
        <result property="status" column="status"></result>
        <result property="spuType" column="spu_type"></result>
        <result property="goodsDescription" column="goods_description"></result>
        <result property="freight" column="freight"></result>
        <result property="countCollection" column="count_collection"></result>
        <result property="countBuy" column="count_buy"></result>
    </resultMap>

    <resultMap id="goodsSpuDetailMap" type="GoodsSpu" extends="goodsSpuSimpleMap">
        <collection property="defaultImg" ofType="GoodsImg">
            <id property="id" column="default_img_url"></id>
            <result property="name" column="default_img_url"></result>
            <result property="imgUrl" column="default_img_url"></result>
            <result property="url" column="default_img_url"></result>
        </collection>
        <collection property="specImg" ofType="GoodsImg">
            <id property="id" column="spec_img_url"></id>
            <result property="name" column="spec_img_url"></result>
            <result property="imgUrl" column="spec_img_url"></result>
            <result property="url" column="spec_img_url"></result>
        </collection>
        <collection property="allImg" ofType="GoodsImg">
            <id property="id" column="img_id"></id>
            <result property="name" column="img_id"></result>
            <result property="imgUrl" column="img_url"></result>
            <result property="imgType" column="img_type"></result>
            <result property="url" column="img_url"></result>
        </collection>
    </resultMap>

    <resultMap id="spuNameMap" type="GoodsSpecName">
        <id property="id" column="spec_name_id"></id>
        <result property="specName" column="spec_name"></result>
        <result property="specNo" column="spec_no"></result>
        <result property="label" column="spec_name"></result>
    </resultMap>

    <resultMap id="spuCollectionMap" type="GoodsCollection">
        <id property="id" column="id"></id>
        <result property="userId" column="user_id"></result>
        <result property="spuId" column="spu_id"></result>
        <result property="defaultImgUrl" column="default_img_url"></result>
        <result property="lowPrice" column="low_price"></result>
        <result property="goodsName" column="goods_name"></result>
        <result property="goodsDescription" column="goods_description"></result>
        <result property="backgroundColor" column="background_color"></result>
        <result property="countCollection" column="count_collection"></result>
        <result property="countBuy" column="count_buy"></result>
    </resultMap>


    <update id="decreaseSpuStock">
      UPDATE goods_spu SET stock = stock - #{stockNum} WHERE id = #{spuId} AND stock - #{stockNum} >-1
    </update>

    <update id="increaseSpuStock">
      UPDATE goods_spu SET stock = stock + #{stockNum} WHERE id = #{spuId}
    </update>

    <update id="restoreStock">
        UPDATE goods_spu
        SET stock = stock + #{orderItem.number}
        WHERE id = #{orderItem.goodsSpuId}
    </update>

    <delete id="deleteSpuImg">
        DELETE FROM goods_img WHERE spu_id = #{spuId}
    </delete>

    <delete id="deleteSpuSpecName">
        DELETE FROM goods_spu_spec WHERE spu_id = #{spuId}
    </delete>

    <update id="deleteSku">
        UPDATE goods_sku SET if_valid = FALSE WHERE spu_id = #{spuId}
    </update>

    <select id="listGoodsSpu" resultMap="goodsSpuSimpleMap">
        SELECT
        a.id,a.spu_no,a.goods_name,a.goods_description,a.currency_price,a.usdt_price,a.cny_price,a.currency_reward,a.integral_price,
        a.settlement_id,c.category_name,d.brand_name,a.default_img_url,a.create_time,a.status,a.spu_type,
        a.freight,a.stock,a.if_sku,a.package_type
        FROM goods_spu a
        LEFT JOIN goods_category c on a.category_id = c.id
        LEFT JOIN goods_brand d on a.brand_id = d.id
        WHERE
        a.if_valid = 1
        <if test="goodsName!=null and goodsName!=''">
            AND a.goods_name LIKE CONCAT('%',#{goodsName},'%')
        </if>
        <if test="categoryId!=null and categoryId!=''">
            AND c.id = #{categoryId}
        </if>
        <if test="brandId!=null and brandId!=''">
            AND d.id = #{brandId}
        </if>
        <if test="spuType!=null and spuType!=''">
            AND a.spu_type = #{spuType}
        </if>
        <if test="status != null and status!=''">
            AND a.status = #{status}
        </if>
        <if test="startTime!=null and startTime!=''">
            AND a.create_time &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            AND a.create_time &lt;= #{startTime}
        </if>
    </select>

    <select id="getGoodsSpu" resultMap="goodsSpuDetailMap">
        SELECT
          a.id,a.id AS spu_id,a.spu_no,a.goods_name,a.currency_price,a.integral_price,a.cny_price,a.currency_reward,a.usdt_price,a.settlement_id,a.default_img_url,a.spec_img_url,
          a.create_time,a.spu_type,a.status,a.category_id,a.brand_id,a.shop_id,a.if_sku,a.stock,
          a.goods_description,a.freight,
          b.img_url,b.img_type,b.id AS img_id
        FROM goods_spu a
        LEFT JOIN goods_img b on a.id = b.spu_id
        WHERE a.id = #{spuId}
        AND b.sku_id IS NULL
    </select>

    <select id="listSpuSpec" resultMap="spuNameMap">
        SELECT
        a.id,b.id as spec_name_id,b.spec_name,b.spec_no
        FROM goods_spu_spec a
        LEFT JOIN goods_spec_name b ON a.spec_id = b.id
        WHERE
        1=1
        <if test="spuId!=null">
            AND a.spu_id = #{spuId}
        </if>
    </select>

    <select id="allSpuSpec" resultMap="spuNameMap">
      SELECT a.id as spec_name_id,a.spec_no,a.spec_name FROM goods_spec_name a
    </select>

    <select id="countCollection" resultType="java.lang.Integer">
      SELECT COUNT(*) FROM goods_collection WHERE spu_id = #{spuId}
    </select>

    <select id="countBuy" resultType="java.lang.Integer">
      SELECT COUNT(*) FROM order_item WHERE goods_spu_id = #{spuId}
    </select>

    <select id="listGoodsCollection" resultMap="spuCollectionMap">
      SELECT
        a.id,a.user_id,a.spu_id,a.default_img_url,a.low_price,a.goods_name,a.goods_description,a.background_color,
        (SELECT COUNT(*) FROM goods_collection WHERE spu_id = a.spu_id) AS count_collection,
        (SELECT COUNT(*) FROM order_item WHERE goods_spu_id = a.spu_id) AS count_buy
      FROM goods_collection a
      WHERE a.user_id = #{userId} AND a.spu_type = #{spuType}
    </select>

</mapper>