<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.converage.mapper.shop.RewardQrCodeMapper">


    <update id="updateQrCodeDownloadStatus">
      UPDATE reward_qrcode SET if_download = 1 WHERE batch_no = #{batchNo} and if_download = 0
    </update>

    <update id="cancelRewardQrcode">
        UPDATE reward_qrcode SET if_valid = 0 WHERE if_valid = 1 AND id = #{rewardCodeId}
    </update>

</mapper>