<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.converage.mapper.user.UserMapper">
    <!--<resultMap id="userMap" type="User">-->
        <!--<id property="id" column="id"></id>-->
        <!--<result property="headPictureUrl" column="head_picture_url"></result>-->
        <!--<result property="userName" column="user_name"></result>-->
        <!--<result property="userAccount" column="user_account"></result>-->
        <!--<result property="phoneNumber" column="phone_number"></result>-->
        <!--<result property="password" column="password"></result>-->
        <!--<result property="payPassword" column="pay_password"></result>-->
        <!--<result property="inviteId" column="invite_id"></result>-->
        <!--<result property="inviteCode" column="invite_code"></result>-->
        <!--<result property="wxOpenId" column="wx_open_id"></result>-->
        <!--<result property="wxNickname" column="wx_nickname"></result>-->
        <!--<result property="level" column="level"></result>-->
        <!--<result property="leaderLevel" column="leader_level"></result>-->
        <!--<result property="computePower" column="compute_power"></result>-->
        <!--<result property="currency" column="currency"></result>-->
        <!--<result property="usdt" column="usdt"></result>-->
        <!--<result property="staticCurrency" column="static_currency"></result>-->
        <!--<result property="dynamicCurrency" column="dynamic_currency"></result>-->
        <!--<result property="createTime" column="create_time"></result>-->
        <!--<result property="memberType" column="member_type"></result>-->
        <!--<result property="type" column="type"></result>-->
        <!--<result property="status" column="status"></result>-->
        <!--<result property="certStatus" column="cert_status"></result>-->
        <!--<result property="ifFreePayPwd" column="if_free_pay_pwd"></result>-->
        <!--<result property="ifCanOtc" column="if_can_otc"></result>-->
        <!--<result property="ifCanRecharge" column="if_can_recharge"></result>-->
        <!--<result property="ifCanWithdraw" column="if_can_withdraw"></result>-->
        <!--<result property="ifCanTransfer" column="if_can_transfer"></result>-->
        <!--<result property="mainNetAddr" column="main_net_addr"></result>-->
    <!--</resultMap>-->


</mapper>