<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseMapper">
    <insert id="insertOne">
        INSERT INTO ${tableName}
        <foreach collection="dbColumnList" open="(" close=")" separator="," item="item">
            ${item}
        </foreach>
        VALUES
        <foreach collection="voAttrList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </insert>

    <delete id="delete">
        DELETE FROM ${tableName}
        WHERE ${idDbColumn} = #{idPoVal}
    </delete>

    <update id="update">
        UPDATE ${tableName}
        <trim prefix="set" suffixOverrides=",">
            <foreach collection="updateMap" index="key" item="value">
                ${key} = #{value},
            </foreach>
        </trim>
        WHERE ${idDbColumn} = #{idPoVal}
    </update>

    <select id="selectById">
        SELECT
        <foreach collection="dbColumnList" separator="," item="item">
            ${item}
        </foreach>
        FROM
        ${tableName}
        WHERE
        ${idDbColumn} = #{idPoVal}
    </select>

    <select id="selectCountByWhere">
        SELECT
          COUNT(1)
        FROM
        ${tableName}
        <if test="whereMap!=null and whereMap.size > 0 ">
            WHERE
            <trim prefix="1=1" suffixOverrides=",">
                <foreach collection="whereMap" index="key" item="value">
                    AND ${key} #{value}
                </foreach>
            </trim>
        </if>
    </select>


    <select id="selectByWhere">
        SELECT
        <foreach collection="dbColumnList" separator="," item="item">
            ${item}
        </foreach>
        FROM
        ${tableName}
        <if test="whereMap!=null and whereMap.size > 0 ">
            WHERE
            <trim prefix="1=1" suffixOverrides=",">
                <foreach collection="whereMap" index="key" item="value">
                    AND ${key} #{value}
                </foreach>
            </trim>
        </if>

        <if test="orderMap !=null and orderMap.size > 0">
            ORDER BY
            <foreach collection="orderMap" index="key" item="value">
                ${key} ${value}
            </foreach>
        </if>
    </select>

    <!--<select id="selectiveByWhere">-->
        <!--SELECT-->
        <!--<foreach collection="selectiveFieldList" separator="," item="item">-->
            <!--${item}-->
        <!--</foreach>-->
        <!--FROM-->
        <!--${tableName}-->
        <!--<if test="whereMap!=null and whereMap.size > 0 ">-->
            <!--WHERE-->
            <!--<trim prefix="1=1" suffixOverrides=",">-->
                <!--<foreach collection="whereMap" index="key" item="value">-->
                    <!--AND ${key} #{value}-->
                <!--</foreach>-->
            <!--</trim>-->
        <!--</if>-->

        <!--<if test="orderMap !=null and orderMap.size > 0">-->
            <!--ORDER BY-->
            <!--<foreach collection="orderMap" index="key" item="value">-->
                <!--${key} ${value}-->
            <!--</foreach>-->
        <!--</if>-->
    <!--</select>-->
</mapper>