<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.converage.mapper.mining.MiningMapper">

    <resultMap id="miningMachine" type="MiningMachine">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="machine_name" property="machineName" jdbcType="VARCHAR"/>
        <result column="description" property="machineDescription" jdbcType="VARCHAR"/>
        <result column="usdt_price" property="usdtPrice" jdbcType="DECIMAL"/>
        <result column="currency_price" property="currencyPrice" jdbcType="DECIMAL"/>
        <result column="home_img" property="homeImg" jdbcType="VARCHAR"/>
        <result column="valid_days" property="validDays" jdbcType="INTEGER"/>
        <!-- 扩展 -->
        <result column="count_num" property="countNum" jdbcType="INTEGER"/>
        <result column="total_sell_num" property="totalSellNum" jdbcType="INTEGER"/>
        <result column="today_sell_num" property="todaySellNum" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="userMiningMachine" type="UserMiningMachine">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="machine_id" property="machineId" jdbcType="VARCHAR"/>
        <result column="machine_name" property="machineName" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="settlement_id" property="settlementId" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="daily_reward" property="dailyReward" jdbcType="DECIMAL"/>
        <result column="total_reward" property="totalReward" jdbcType="DECIMAL"/>
        <result column="surplus_reward" property="surplusReward" jdbcType="DECIMAL"/>
        <result column="machine_volume" property="machineVolume" jdbcType="DECIMAL"/>
        <result column="if_valid" property="ifValid" jdbcType="BIT"/>
        <result column="pay_desc" property="payDesc" jdbcType="VARCHAR"/>
        <result column="machine_name" property="machineName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP"/>
        <!-- 扩展 -->
        <result column="user_account" property="userAccount" jdbcType="VARCHAR"/>
        <result column="tc_tcny_price" property="tcTCNYPrice" jdbcType="DECIMAL"/>
        <result column="spend_tc" property="spendTc" jdbcType="DECIMAL"/>
    </resultMap>


    <resultMap id="miningReward" type="MiningReward">
        <id column="id" property="id"/>
        <id column="user_id" property="userId"/>
        <id column="user_mining_machine_id" property="userMiningMachineId"/>
        <id column="user_mining_machine_name" property="userMiningMachineName"/>
        <id column="reward_amount" property="rewardAmount"/>
        <id column="reward_type" property="rewardType"/>
        <id column="icon" property="icon"/>
    </resultMap>

    <resultMap id="miningMachinePackageRelation" type="MiningMachinePackageRelation">

    </resultMap>

    <sql id="Base_Column_List">
      umm.id, umm.machine_id,umm.machine_name, umm.user_id, umm.settlement_id, umm.price, umm.daily_reward, umm.total_reward,
      umm.surplus_reward, umm.create_time, umm.expire_time, umm.if_valid, umm.machine_volume, umm.pay_desc,umm.tc_tcny_price,
      (SELECT turnover_amount FROM assets_turnover WHERE turnover_type = 13 AND user_id = umm.user_id) as spend_tc
    </sql>

    <sql id="miningMachineColumnList">
       mm.id,  mm.machine_name,  mm.description,  mm.machine_volume,  mm.usdt_price,  mm.ecbc_price,  mm.home_img,
        mm.reward_percent,  mm.valid_days,  mm.if_valid
    </sql>

    <update id="decreaseMachineStock">
      UPDATE mining_machine SET stock = stock - #{buyNum} WHERE id = #{miningMachineId} AND stock - #{buyNum} >-1
    </update>

    <select id="countUserMiningMachine" resultMap="miningMachine">
        SELECT t.id, t.machine_name, COUNT(umm.if_valid) AS count_num, t.machine_volume
        FROM mining_machine t
        LEFT JOIN user_mining_machine umm ON umm.machine_id = t.id AND umm.user_id = #{userId}
        GROUP BY t.id
        ORDER BY t.machine_volume
    </select>

    <select id="selectUserMiningMachine" resultMap="userMiningMachine">
        SELECT a.id, b.machine_name, a.pay_desc, a.daily_reward, a.create_time
          FROM user_mining_machine a LEFT JOIN mining_machine b ON a.machine_id = b.id
        WHERE
        a.if_valid = TRUE AND a.user_id = #{userId}
        ORDER BY a.create_time DESC
    </select>

    <select id="selectByPage" resultMap="userMiningMachine">
        select
        <include refid="Base_Column_List"/>, u.user_account
        <include refid="whereSql"/>
        <if test="sortProp != null">
            ORDER BY
            ${sortProp}
            <if test="sortType != null">
                ${sortType}
            </if>
        </if>
    </select>
    <sql id="whereSql">
        from user_mining_machine umm join user_info u on u.id = umm.user_id
        where 1 = 1
        <if test="startTime != null">
            and umm.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and umm.create_time &lt;= #{endTime}
        </if>
        <if test="param.ifValid != null">
            and umm.if_valid = #{param.ifValid}
        </if>
        <if test="param.machineVolume != null">
            and umm.machine_volume = #{param.machineVolume}
        </if>
        <if test="param.userAccount != null">
            and u.user_account = #{param.userAccount}
        </if>
    </sql>
    <select id="selectTotal" resultMap="userMiningMachine">
        SELECT IFNULL(SUM(umm.price), 0) 'price',
        IFNULL(SUM(umm.daily_reward), 0) 'daily_reward', IFNULL(SUM(umm.surplus_reward), 0) 'surplus_reward',
        IFNULL(SUM(umm.total_reward), 0) 'total_reward', IFNULL(SUM(umm.machine_volume), 0) 'machine_volume'
        <include refid="whereSql"/>
    </select>

    <select id="selectCountByUserId" resultType="integer">
        select ifnull(count(*), 0)
        from user_mining_machine t
        where t.user_id = #{userId}
    </select>

    <select id="selectMachineVolumeMax" resultType="decimal">
        SELECT MAX(mm.machine_volume)
        FROM mining_machine mm
    </select>

    <select id="selectUpgradeList" resultMap="miningMachine">
        select
        <include refid="miningMachineColumnList"/>
        from mining_machine mm
        where mm.machine_volume > #{machineVolume}
        order by mm.machine_volume
    </select>

    <select id="selectUserMachineGroupByVolume" resultMap="miningMachine">
        SELECT t.machine_volume, COUNT(*) 'count_num'
        FROM user_mining_machine t
        GROUP BY t.machine_volume
    </select>
    <select id="countUserSocial" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(price),0) FROM user_mining_machine WHERE user_id IN
        <foreach collection="miningSocialIdList" open="(" close=")" separator="," item="msid">
            #{msid}
        </foreach>
    </select>

    <select id="countUserPackage" resultType="java.lang.Integer">
        SELECT count(*) FROM user_mining_machine WHERE user_id IN
        <foreach collection="miningSocialIdList" open="(" close=")" separator="," item="msid">
            #{msid}
        </foreach>
    </select>

    <select id="listMining" resultMap="miningReward">
        SELECT * FROM mining_reward WHERE
         DATEDIFF(DATE_FORMAT(NOW(), '%Y-%m-%d'),DATE_FORMAT(create_time, '%Y-%m-%d')) &lt;= #{limitDay}
         AND user_id = #{userId}
         AND if_valid = TRUE
    </select>

    <select id="countMiningSell" resultMap="miningMachine">
        SELECT
            mm.id,
            mm.machine_name,
            (select count(1) FROM user_mining_machine umm WHERE umm.machine_id = mm.id) AS total_sell_num,
            (select count(1) FROM user_mining_machine umm WHERE umm.machine_id = mm.id AND DATE_FORMAT(create_time,'%Y-%m-%d') = #{dateStr}) AS today_sell_num
        FROM
            mining_machine mm
        ORDER BY mm.currency_price DESC
    </select>

</mapper>