<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.converage.mapper.mining.MiningMachinePackageMapper">
    <resultMap id="MiningMachinePackage" type="MiningMachinePackage">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="package_name" property="machineName" jdbcType="VARCHAR"/>
        <result column="package_description" property="machineDescription" jdbcType="VARCHAR"/>
        <result column="usdt_price" property="usdtPrice" jdbcType="DECIMAL"/>
        <result column="ecbc_price" property="ecbcPrice" jdbcType="DECIMAL"/>
        <result column="home_img" property="homeImg" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="if_valid" property="ifValid" jdbcType="BIT"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="MiningMachinePackageRelation" type="MiningMachinePackageRelation" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="mining_machine_id" property="miningMachineId" jdbcType="VARCHAR" />
        <result column="mining_machine_number" property="miningMachineNumber" jdbcType="INTEGER" />
        <result column="mining_machine_package_id" property="miningMachinePackageId" jdbcType="VARCHAR" />
        <association property="miningMachine" select="com.converage.mapper.mining.MiningMapper.selectMiningMachineById"
                     javaType="MiningMachine" column="mining_machine_id">
        </association>
    </resultMap>
    <resultMap id="ResultMapWithRelation" type="MiningMachinePackage" extends="MiningMachinePackage">
        <!-- 矿机列表 -->
        <collection property="miningMachinePackageRelations" javaType="List" column="id"
                    autoMapping="true" select="selectByPackageId">
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.package_name, t.package_description, t.usdt_price, t.ecbc_price, t.home_img, t.create_time,
        t.if_valid, t.sort
    </sql>


    <select id="selectByPage" resultMap="ResultMapWithRelation">
        select
        <include refid="Base_Column_List"/>
        from mining_machine_package t
        where 1 = 1
        <if test="param.ifValid != null">
            and t.if_valid = #{param.ifValid}
        </if>
        <if test="param.machineName != null">
            and t.package_name = #{param.machineName}
        </if>
        ORDER BY t.sort DESC, t.create_time DESC
    </select>

    <select id="selectByPackageId" resultMap="MiningMachinePackageRelation" parameterType="string" >
        select
        t.id, t.mining_machine_id, t.mining_machine_number, t.mining_machine_package_id
        from mining_machine_package_relation t
        where t.mining_machine_package_id = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPackageId">
        delete from mining_machine_package_relation where mining_machine_package_id = #{packageId}
    </delete>
</mapper>