<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.converage.mapper.currency.CoingeckoCurrencyMapper">
    <!--<resultMap id="coingeckoCurrencyInfo" type="com.converage.entity.currency.coingecko.CoingeckoCurrencyInfo">-->
        <!--<id column="id" property="id" />-->
        <!--<result column="symbol" property="symbol" />-->
        <!--<result column="current_CNY_price" property="currentCNYPrice" />-->
        <!--<result column="current_USD_price" property="currentUSDPrice" />-->
        <!--<result column="price_change_percentage" property="priceChangePercentage" />-->
    <!--</resultMap>-->
    <!---->
    <!---->
    <!--<select id="selectCountByCoinId" resultType="java.lang.Integer">-->
      <!--SELECT COUNT(*) FROM coingecko_currency_info WHERE coin_id = #{coinId}-->
    <!--</select>-->

    <!--<select id="listUserCollect" resultMap="coingeckoCurrencyInfo">-->
      <!--SELECT * FROM coingecko_currency_info WHERE symbol IN-->
      <!--<foreach collection="coinIds" open="(" separator="," close=")" item="item">-->
          <!--#{item}-->
      <!--</foreach>-->
    <!--</select>-->

</mapper>